<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>The Magic URL shortener</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<style>
    body    { padding-top:50px; }
</style>

    <% if(username){ %>
      <form method= "post" action="/logout" style= "display: inline;" >
        <input id="username" type="text" name="username" value="<%=username%>">
        <button type="submit">Logout</button>
      </form>
    <% } else{ %>  
       <form method= "post" action="/login" style= "display: inline;" >
         <input id="username" type="text" name="username" value="">
         <button type="submit">Login</button>
      </form>
    <% } %>

