<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>The Magic URL shortener</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<style>
    body    { padding-top:50px; }
</style>


    <% if(user.email){ %>
      <form method= "post" action="/logout" style= "display: inline;" >
        <%= user.email %>
        <button type="submit" class-"login-button">Logout</button>
      </form>
    <% } else{ %>  
      <form method= "get" action="/login" style= "display: inline;" >
        <button type="submit class='login-button">Login</button>
      </form>
    <% } %>

