<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>    <!-- Add your EJS code here -->
  <h2>URLS</h2>
  <ul>
     <% for (var key in urlDatabase) { %>
        <li><%= key + ': ' + urlDatabase[key] %></li>
      <% } %>
  </ul>
  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>
</html>